html {
  font-size: 13px; }
  @media (min-width: 997px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1200px) {
    html {
      font-size: 20px; } }
  @media (min-width: 1900px) {
    html {
      font-size: 24px; } }

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.1em; }

h1, h2, h3 {
  font-weight: 500; }

h4 {
  font-weight: 300; }

.btn-primary {
  background-color: #2c5b8e; }
  .btn-primary:hover {
    background-color: #193b5f; }
  .btn-primary:focus {
    box-shadow: 0 0 0 3px rgba(44, 91, 142, 0.5); }

@media (min-width: 1900px) {
  .container {
    max-width: 1800px; } }

@media (min-width: 768px) {
  .fake-fixed {
    position: fixed;
    width: 100%; } }

.info {
  width: 100%;
  text-align: center;
  padding: 1em;
  text-align: center; }
  .info img {
    max-width: 30%;
    border-radius: 50%;
    margin-bottom: 0.5em;
    box-shadow: 0px 2px 2px 1px #bbb; }
    @media (min-width: 768px) {
      .info img {
        max-width: 50%; } }
  .info .skill {
    margin-top: 2em; }
    .info .skill span {
      display: inline-block;
      background-color: #dedede;
      padding: 0 0.2em;
      margin-bottom: 0.2em; }

.portfolio-item {
  text-align: center;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #efefef;
  border-radius: 0.5em; }
  @media (min-width: 768px) {
    .portfolio-item {
      border: 1px solid #eee;
      box-shadow: 0px 2px 1px 1px #eee;
      padding-top: 1em; } }
  .portfolio-item > img {
    margin-bottom: 1em; }
  .portfolio-item .tech-used {
    margin-bottom: 2em; }
    .portfolio-item .tech-used img {
      width: 8em;
      margin-bottom: 0.25em; }
  .portfolio-item .proj-title {
    text-align: center; }
  .portfolio-item .proj-desc {
    text-align: left;
    padding: 0 1em; }
  .portfolio-item .btn {
    font-size: 1em; }
  @media (min-width: 768px) {
    .portfolio-item:first-child {
      margin-top: 0.5em; } }
  .portfolio-item:last-child {
    margin-bottom: 0;
    border-bottom: none; }
    @media (min-width: 768px) {
      .portfolio-item:last-child {
        margin-bottom: 2em;
        border-bottom: 1px solid #eee; } }
  .portfolio-item:nth-child(odd) {
    background-color: #efefef; }
    @media (min-width: 768px) {
      .portfolio-item:nth-child(odd) {
        background-color: transparent; } }
