.section {
  padding: 50px 15px;
  margin-left: -18px;
  margin-right: -18px;

  @mixin atMedium {
    border: 1px solid #DDD;
    border-radius: 20px;
    margin-bottom: 40px;
  }

  &--grey-bg {
    background-color: #EEE;
  }

  @mixin atMedium {
    margin-left: 0;
    margin-right: 0;
  }

  &__techs-used {
    text-align: center;
    margin: .3rem 0 2rem;
  }

  &__content {

    &--center {
      text-align: center;
    }
  }

  &:first-of-type {
    padding-top: 0;
  }

}
