.summary-info {
  text-align: center;

  &__avatar {
    border-radius: 50%;
    width: 40%;
    margin: 20px auto 0 auto;
  }

  &__name {
    font-weight: 300;
    font-size: 1.8rem;
    margin: .5rem 0;
  }

  &__title {
    font-weight: 500;
    font-size: 1.2rem;
    margin: .5rem 0;
  }

  &__heading {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  &__list {
    padding-left: 0;
    margin-top: .2rem;
    @mixin clearfix;

    &--grey-bg {
      & > li {
        background-color: #AAA;
        color: #FFF;
        padding: 1px 3px;
        margin-bottom: .2rem;
      }
    }

    & > li {
      list-style-type: none;
      display: inline-block;
    }
  }
}
